<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>Echo Nest - Terms &amp; Artists</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <!-- Application container -->
    <div id="main"></div>
    <!-- Application template -->
    <script id="application" type="text/template">
      <div class="application">
        <div id="terms" class="column dark"></div>
        <div id="artists" class="column"></div>
      </div>
    </script>
    <!-- Term list template -->
    <script id="term-list" type="text/template">
        <div class="header">
          <h2 class="">Terms</h2>
        </div>
        <ul class="term-list"></ul>
    </script>
    <!-- Single term template -->
    <script id="term" type="text/template">
      <label for="<%= term.get('name') %>" class="term-label"><%= term.get('name') %></label>
      <input type="checkbox" value="<%= term.get('name') %>" id="<%= term.get('name') %>" class="term-input pull-left" />
    </script>
    <!-- Artist list template -->
    <script id="artist-list" type="text/template">
      <div class="header artists">
        <h2 class="pull-left">Artists</h2>
        <form action="#" class="pull-right sort-form">
          <label for="sort-order">Sort By:</label>
          <select name="sort-order" id="sort-order">
            <option value="familiarity-asc">Familiarity</option>
            <option value="hotttnesss-asc">Hotttness</option>
            <option value="artist_start_year-asc">Oldest First</option>
            <option value="artist_start_year-desc">Newest First</option>
          </select>
        </form>
      </div>
      <ul class="artist-list"></ul>
    </script>
    <!-- Single artist template -->
    <script id="artist" type="text/template">
      <%= artist.get('name') %>
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="assets/js/libs/lodash.min.js"></script>
    <script src="assets/js/libs/backbone.js"></script>
    <script src="assets/js/libs/backbone.layoutmanager.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>