<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>Echo Nest Stuff</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <!-- Application container -->
    <div id="main"></div>
    <!-- Application template -->
    <script id="application" type="text/template">
      <div class="application">
        <div id="terms" class="column dark"></div>
        <div artists="artists" class="column stuck"></div>
      </div>
    </script>
    <!-- Single term template -->
    <script id="term" type="text/template">
      <label for="<%= term.get('name') %>" class="term-label"><%= term.get('name') %></label>
      <input type="checkbox" value="<%= term.get('name') %>" id="<%= term.get('name') %>" class="term-input" />
    </script>
    <!-- Term list template -->
    <script id="term-list" type="text/template">
        <h2>Terms</h2>
        <ul class="term-list"></ul>
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="assets/js/libs/lodash.min.js"></script>
    <script src="assets/js/libs/backbone.js"></script>
    <script src="assets/js/libs/backbone.layoutmanager.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>

