body {
	font-family: Gill Sans, helvetica, arial;
	font-size: .8em;
	margin: 0;
	padding: 0;
}
.column {
	width: 50%;
	float: left;
}
.dark {
	background: #ddd;
	border-right: 1px inset #ccc;
}
.stuck {
	position: fixed;
	margin-left: 50%;
}
ul {
	color: #eee;
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	color: #aaa;
	clear: both;
}
a {
	color: #333;
	text-decoration: none;
}
.terms-list li {
	clear: both;
	border-bottom: 1px solid #ccc;
}
.term-input {
	float: left;
}
.term-label {
}