/* Elements */
body {
	font-family: verdana, arial;
	font-size: 1em;
	margin: 0;
	padding: 0;
	color: #444;
}
h2 {
	margin: 0;
	font-weight: 100;
}
ul {
	list-style: none;
	padding: 0;
	padding-top: 3em;
	margin: 0;
}
li {
	clear: both;
	position: relative;
	border-bottom: 1px solid #ddd;
	padding: .8em 0 .8em 4%;
	background: #eee;
}
li:last-child {
	border-bottom: 0;
}
.term-list li {
	padding: 0;
	background: #fff;
	clear: both;
}
.term-list li.active {
	background: #eee;
}
.sort-form {
	font-size: .6em;
	margin-top: .5em;
}
/* Layout */
.column {
	width: 50%;
	min-height: 600px;
	float: left;
	box-shadow: 1px 0 0 #ddd;
}
.header {
	height: 2em;
	padding: .5em 2%;
	border-bottom: 1px solid #111;
	position: fixed;
	width: 46%;
	background: #222;
	z-index: 100;
	color: #fff;
}
.header.artists {
	background-color: #333;
}
.term-input {
	position: absolute;
	margin-top: 1.5em;
	left: 2%;
}
.term-label {
	display: block;
	float: left;
	width: 92%;
	padding: .8em 0 .8em 8%;
}
.term-label:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, .05);
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
/* Clearfixing */
.header:after,
li:after {
	display: block;
	content: '';
	clear: both;
}